<div class="mesgs">
  <div class="msg_history" (scroll)="scrolled($event)" #scrollFrame>
    <li class="message" *ngFor="let message of messageList" #message>
      <div
        *ngIf="
          message.username !== userInfo.name;
          then incoming_msg;
          else outgoing_msg
        "
      ></div>
      <ng-template #incoming_msg>
        <div *ngIf="message.username != '__system__'" class="incoming_msg">
          <div class="incoming_msg_img">
            <img
              src="https://i.imgur.com/k2PZLZa.png"
              alt="User avatar"
            />
          </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>{{ message.message }}</p>
            </div>
          </div>
        </div>
        <div *ngIf="message.username == '__system__'" class="incoming_msg">
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>{{ message.message }}</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #outgoing_msg>
        <div class="outgoing_msg">
          <div class="sent_msg">
            <p>{{ message.message }}</p>
          </div>
        </div>
      </ng-template>
    </li>
  </div>
  <div class="type_msg">
    <form class="input_msg_write" (ngSubmit)="sendMessage()">
      <input
        type="text"
        class="write_msg"
        placeholder="Type a message"
        name="newMessage"
        [(ngModel)]="newMessage"
      />
      <button class="msg_send_btn" type="button" (click)="sendMessage()">
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
      </button>
    </form>
  </div>
  <a class="btn_exit_chatroom" (click)="exitRoom()" style="display: inline;">&#215;</a>
</div>
